.red-text {

    color: red;
}

.green-text {

    color: #4caf50;
}

.tiny-text {

    font-size: 12px !important;
}

.fade-out {

    opacity: 1;

    transition: opacity 3s ease-out;

    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {

    from {
        
        opacity: 1;
}

to {

    opacity: 0;
}

}